<div>
  <h1>Edit Your Profile </h1>
  <hr>
  <div class="col-md-4">
    <form (ngSubmit)="updateProfile(profileForm.value)" [formGroup]="profileForm" autocomplete="off" novalidate>
      <div class="form-group" [ngClass]="{error: validateControl('firstName')}">
        <label for="firstName">First Name:</label>
        <em *ngIf="validateControl('firstName')">Required</em>
        <input formControlName="firstName" id="firstName" type="text" class="form-control"
          placeholder="First Name..." />
      </div>
      <div class="form-group" [ngClass]="{error: validateControl('lastName')}">
        <label for="lastName">Last Name:</label>
        <em *ngIf="validateControl('lastName')">Required</em>
        <input formControlName="lastName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>
      <div class="form-group" [ngClass]="{error: validateControl('userName')}">
        <label for="lastName">User Name:</label>
        <em *ngIf="validateControl('userName')">Required</em>
        <input formControlName="userName" id="lastName" type="text" class="form-control" placeholder="Last Name..." />
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>